:root {
  --primary-color: #F2F1EE;
  --secondary-color: #040b06;
  --highlight-color: #354c0f;
  --accent-color: #E3E0D8;
  --font-body: "Inter", sans-serif;
  --font-heading: "IBM Plex Sans", sans-serif;
  --font-mono: "IBM Plex Mono", monospace;
}

@media (min-width: 960px) {
  .container {
      max-width: 840px;
  }
}

body {
  background-color: var(--secondary-color);
  padding-top: 2em;
  color: var(--primary-color);
  font-family: var(--font-body);
  font-weight: 100;
  font-size: 1.75em;
  line-height: 1.5em;
}

h1 {
  font-family: var(--font-heading);
  font-weight: 300;
  font-size: 1em;
}

h2 {
  font-family: var(--font-heading);
  font-weight: 300;
  font-size: 1em;
}

strong {
  font-weight: 300;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  border-bottom: 2px solid var(--highlight-color);
}

a:hover {
  text-decoration: none;
  color: var(--primary-color);
  border-bottom: none;
}

a.icon {
  border: none;
}
a.icon:hover {
  border: none;
  color: var(--highlight-color);
}


#site-header .logo {
  text-align: left;
}

#site-header .logo a {
  border: none;
}

#site-header .navigation {
  text-align: right;
  font-size: .8em;
}

#site-header .tagline {
  font-size: .6em;
  text-align: right;
  font-family: var(--font-header);
}


#site-body {

}

#site-body .row {
  margin-bottom: 2em;
}

#site-body .col {
  margin-bottom: 2em;
}

.container,
.container-fluid {
  margin-bottom: 6em;
}

.container .row {
  margin-bottom: 2em;
}


.title {
  margin-bottom: 1.5em;
}

.pill {
  text-align: left;
  padding: .4em 1em;
  border: .1rem solid var(--highlight-color);
  border-radius: 1000px;
  margin-right: .4em;
  margin-bottom: .4em;
  width: fit-content;
  float: left;
}

#recent-projects li {
  padding: 1.4em 0;
  border-bottom: 1px solid var(--highlight-color);
}

#recent-projects li.first {
  padding-top: 0;
}

#recent-projects li.last {
  padding-bottom: 0;
  border-bottom: none;
}

#site-footer .container {
  margin-bottom: 1em;
}

#site-footer p {
  font-size: .6em;
}

iframe {
  width: 60%;
}